<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.CourseSelectInfoDao">

    <select id="findByCondition" resultType="CourseSelectInfo">
        select * from course_select_info
        <where>
            <if test="teacherID != null">
                and teacherID=#{teacherID}
            </if>
            <if test="studentID != null">
                and studentID=#{studentID}
            </if>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>
</mapper>